## Matrix Multiplication Verification:
### First row, first column = (1x1) + (2x1) = 1 + 2 = 3
### First row, second column = (1x1) + (2x1) = 1 + 2 = 3
### Second row, first column = (3x1) + (4x1) = 3 + 4 = 7
### Second row, second column = (3x1) + (4x1) = 3 + 4 = 7

## Vector Multiplication Verification:
### First element = (1x1) + (2x2) = 1 + 4 = 5
### Second element = (3x1) + (4x2) = 3 + 8 = 11
